@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-brandBlack dark:bg-zinc-950 dark:text-zinc-100;
}

.ticker-marquee {
  animation: ticker 18s linear infinite;
}

@keyframes ticker {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}
